@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Actor', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0 1.5em;
}

.navHero {
    width: 100%;
    max-height: 100vh;
    min-height: calc(100vh - 3.25rem);
    background-image: url("../images/moving\ 1.png");
    background-size: cover;
    overflow: hidden;
}

.navbar {
    min-width: 3.25rem;
    display: flex;
    justify-content: right;
    align-items: center;

}

.navbar .navbar-items {
    margin: 4em 10em 0 0;
}

.navbar .navbar-items li {
    display: inline-block;
    padding: 1em;
}

.navbar .navbar-items li a {
    font-family: 'Adamina', serif;
    color: #d4d4d4;
    text-decoration: none;
    padding-bottom: .5em;
    transition: all .3s ease-in-out;
}

.navbar .navbar-items li a:hover {
    color: #FAFF00;
}

.navbar .navbar-items li a.buttons:hover {
    border: none;
}

.buttons button {
    background-color: #FFAC12;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: #FAFF00 0px 0px 0px 0px inset;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}

.buttons button.dark {
    background-color: #000;
    color: #FAFF00;
}

.section {
    padding: 3em 2em;
    width: 100%;
    min-height: calc(100vh - 3.25rem);

}

.section .columns {
    width: 100%;
    margin: 0 1em;
    padding: 0 2em;
    display: flex;
}
.columns.is-multiline {
    flex-wrap: wrap;
  }
.section.hero-body .columns{
    display: flex;
    align-items: center;
}

.section .columns .column.is-6 {
    width: 50%;
}
.section .columns .column.is-4 {
    width: 25.4%;
}

.section.hero .columns h1.title {
    color: #FAFF00;
    font-size: 3em;
    font-family: 'Adamina', serif;
    font-weight: 200;
    margin-bottom: 1em;
    line-height: 1.3em;
    overflow: hidden;
}

.section.hero .columns p.content {
    font-size: 1.5em;
    color: #d4d4d4;
}

.image.is-large {
    height: 30em;
    width: 30em;
    position: relative;
}

.image.is-large img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ml-0 {
    margin-left: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pt-0{
    padding-top: 0 !important;
}

.column .container {
    width: 50%;
    margin: 6em 0;
}

.column .container .title {
    padding: 1em 0;
    font-size: 2em;
    font-family: 'Adamina', serif;
    position: relative;
}

.column .container .title::before {
    content: "";
    display: block;
    width: 4em;
    height: 5px;
    border-radius: 1em;
    background: linear-gradient(90deg,rgba(255,165,0 , 0.9) 0%, rgba(0,0,0,0.9));
    left: 0;
    top: .5em;
    position: absolute;
}

.column .container .content {
    color: #adadad;
    font-weight: 600;
}

.buttons.is-large {
    margin: 2em 0;
}

.buttons.is-large button {
    border-radius: 0 10px 0 0;
    padding: 1em 2em;
}

.buttons.is-large button i {
    padding-left: 1em;
}

.hero-body.topMovers{
    background: #adadad17;
}

.hero-body .hero-title {
    padding: 4em 2em;
    font-size: 2em;
    font-family: 'Adamina', serif;
    position: relative;
}

.hero-body .hero-title::before {
    content: "";
    margin: 1em 0;
    display: block;
    width: 4em;
    height: 5px;
    border-radius: 1em;
    background: linear-gradient(90deg,rgba(255,165,0 , 0.9) 0%, rgba(0,0,0,0.9));
    left: 0;
    top: .5em;
}

.card {
    position: relative;
    margin: 1.5em;
    background: #adadad;
    border-radius: 5px;
}

.card .companyDetails{
    background: #fff;
    border-radius: 0 0 20px 20px;
    
}

.card .image{
    height: 17em;
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35); */
    overflow: hidden;
    position: relative;
}

.card .image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.card .title{
    padding: 1em;
    font-family: 'Adamina', serif;
}


.card .details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #adadad;


}

.card .details p{
    white-space: nowrap;
}

.card .details p i{
    padding: 0 1em;
}

.card .details p.bordered{
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
    padding: .4em .8em;
}

.card .details .div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    margin: 0 0 2em;
    overflow: hidden;
    background: #141006;
    border: 1px solid #000;

}

.footer .columns{
    width: 100%;

   
}
.footer .columns .column{
    padding: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .footerTitle{
    padding: 1em 7%;
    width: 100%;
}
.footer .footerTitle p{
    font-size: 2em;
    color: #fff;
}

.footer .footerTitle p span{
    color: #FAFF00;
    font-size: 1em;

}

.footer .footerContent{
    color: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #adadadde;
    align-items: center;
    padding: 3em;
    padding-right: 0;

}

.footer .footerContent .socialIcons{
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.footer .footerContent .socialIcons i{
    font-size: 1.5em;
    transition: all .3s ease;
}
.footer .footerContent .socialIcons i:hover{
    font-size: 2.5em;
    cursor: pointer;
}

.footer .footerContent .footColumns{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.footer .footerContent .footColumns .col-1 li a{
    color: #adadadde;
    font-size: .9em;
    transition: all .3s ease;
}
.footer .footerContent .footColumns .col-1 li a:hover{
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 769px) {
    *{
        font-size: 13px;
    }
    .column .container {
        margin: 6em 3em;
    }
    .section .columns .column.is-4 {
        width: 29.4%;
    }
    .section {
        padding: 2em 1em;
        width: 100%;
}
.card .image {
    height: 15em;
}
}
@media only screen and (max-width: 425px) {
    * {
        font-size: 11px;
    }

    .section {
        margin: 0;
        padding: 0;
    }

.section .columns {
    width: 100%;
    margin: 0 1em;
    padding: 0 1em;
}
.section .columns .column.is-6 {
    width: 70%;
}
.section .columns .column.is-4 {
    width: 48%;
}
    .navbar .navbar-items {
        margin: 4em 0 0 10em;
    }

    .navbar .companyNav {
        padding: 2em 2em 1em;
        color: #fff;

    }
    .footer .footerContent .socialIcons {
        display: block;
    }
    .footer .footerContent .socialIcons i {
        margin: 1em;
    }
}

@media only screen and (max-width: 320px) {
    * {
        font-size: 8px;
    }

    .section {
        margin: 0;
        padding: 0;
    }

    .navbar .companyNav {
        padding: 2em 2em 1em;
        color: #fff;
    }
    .boxed{
        width: 100%;
    }
    .product .image.is-large{
        width: 100%;
    }
    .product .variant_images{
        width:100%;
    }
    .card .details p i {
        padding: 0 2px;

    }
}

@media only screen and (max-width: 375px) {
    * {
        font-size: 9px;
    }

    .section {
        margin: 0;
        padding: 0;
    }

    .navbar .companyNav {
        padding: 2em 2em 1em;
        color: #fff;

    }
    .card .details p i {
        padding: 0 2px;

    }
}